spring:
  application:
    name: user-central
  profiles:
    active: localhost

server:
  port: 8081

---

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/user_central
    username: manhnv
    password: 06022003
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false
  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: http://localhost:8080/realms/uni-system
      client:
        provider:
          external:
            issuer-uri: http://localhost:8080/realms/uni-system
        registration:
          external:
            provider: external
            client-name: user-central
            client-id: user-central
            client-secret: cG8x7l5sy4vds1o4R3jjHw4L6PwM3Bio
            scope: openid, offline_access, profile
            authorization-grant-type: authorization_code

---

application:
  file:
    uploads:
      media-output-path: ./uploads