<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="overlay" *ngIf="isPopupOpen" (click)="closePopup()"></div>
<div class="popup" *ngIf="isPopupOpen">
  <i class="bi bi-x-lg" style="position: absolute;top:10px; right: 10px" (click)="closePopup()"></i>
  <div class="popup-content">
    <h6>Bình luận</h6>
    <textarea style="background:white; color:black" [(ngModel)]="createCommentRequest.content" placeholder="Nhập bình luận..."></textarea>
    <button (click)="addComment(this.selectedPost)">Gửi</button>
    <div class="comments-container">
      <div *ngFor="let comment of comments" class="comment-card">
        <div class="comment-header">
          <img src="https://via.placeholder.com/40" alt="User Avatar" class="comment-avatar" />
          <div>
            <span class="comment-user">{{ comment.userId }}</span>
            <span class="comment-time">{{ timeAgo(comment.updatedAt) }}</span>
          </div>
        </div>
        <p class="comment-content">{{ comment.content }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="profile-wrapper">
    <div class="profile-section-user">
      <div class="profile-cover-img"><img
        src="https://img.freepik.com/premium-vector/user-icons-includes-user-icons-people-icons-symbols-premiumquality-graphic-design-elements_981536-526.jpg"
        alt=""></div>
      <div class="profile-info-brief p-3"><img class="img-fluid user-profile-avatar"
                                               src="https://img.freepik.com/premium-vector/user-icons-includes-user-icons-people-icons-symbols-premiumquality-graphic-design-elements_981536-526.jpg"
                                               alt="">
        <div class="text-center">
          <h5 class="text-uppercase mb-4">{{ cuUser.firstName }} {{ cuUser.firstName }}</h5>
          <!--          <p class="text-muted fz-base">Dep trai</p>-->
        </div>
      </div>
      <!-- /.profile-info-brief -->
      <hr class="m-0">
      <div class="hidden-sm-down">
        <hr class="m-0">
        <div class="profile-info-contact p-4">
          <h6 class="mb-3">Thông tin cơ bản</h6>
          <table class="table">
            <tbody>
            <tr>
              <td><strong>EMAIL:</strong></td>
              <td>
                <p class="text-muted mb-0">{{ cuUser.email }}</p>
              </td>
            </tr>
            <!--            <tr>-->
            <!--              <td><strong>PHONE:</strong></td>-->
            <!--              <td>-->
            <!--                <p class="text-muted mb-0">01145525755</p>-->
            <!--              </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--              <td><strong>SKYPE:</strong></td>-->
            <!--              <td>-->
            <!--                <p class="text-muted mb-0">Rathemes</p>-->
            <!--              </td>-->
            <!--            </tr>-->
            <!--            </tbody>-->
            <!--          </table>-->
            <!--        </div>-->
            <!--        &lt;!&ndash; /.profile-info-contact &ndash;&gt;-->
            <!--        <hr class="m-0">-->
            <!--        <div class="profile-info-general p-4">-->
            <!--          <h6 class="mb-3">General Information</h6>-->
            <!--          <table class="table">-->
            <!--            <tbody>-->
            <!--            <tr>-->
            <!--              <td><strong>JOB:</strong></td>-->
            <!--              <td>-->
            <!--                <p class="text-muted mb-0">Web Developer</p>-->
            <!--              </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--              <td><strong>POSITION:</strong></td>-->
            <!--              <td>-->
            <!--                <p class="text-muted mb-0">Team Manager</p>-->
            <!--              </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--              <td><strong>STUDIED:</strong></td>-->
            <!--              <td>-->
            <!--                <p class="text-muted mb-0">Computer Science</p>-->
            <!--              </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--              <td><strong>LAST SEEN:</strong></td>-->
            <!--              <td>-->
            <!--                <p class="text-muted mb-0">Yesterday 8:00 AM</p>-->
            <!--              </td>-->
            <!--            </tr>-->
            </tbody>
          </table>
        </div>
        <!-- /.profile-info-general -->
        <hr class="m-0">
      </div>
      <!-- /.hidden-sm-down -->
    </div>
    <!-- /.profile-section-user -->
    <div class="profile-section-main">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#profile-overview" role="tab">Hoat
          động</a></li>
      </ul>
      <!-- /.nav-tabs -->
      <!-- Tab panes -->
      <div class="tab-content profile-tabs-content">
        <div class="tab-pane active" id="profile-overview" role="tabpanel">
          <div class="post-editor">
            <textarea name="post-field" id="post-field" class="post-field" placeholder="Viết gì đó!"
                      [(ngModel)]="createPostRequest.content"></textarea>
            <div class="d-flex">
              <button class="btn btn-success px-4 py-1" (click)="upPost()">Đăng bài</button>
            </div>
          </div>
          <!-- /.post-editor -->
          <div class="stream-posts" *ngFor="let post of posts">
            <div class="stream-post">
              <div class="sp-author">
                <a href="#" class="sp-author-avatar"><img
                  src="https://img.freepik.com/premium-vector/user-icons-includes-user-icons-people-icons-symbols-premiumquality-graphic-design-elements_981536-526.jpg"
                  alt=""></a>
                <h6 class="name">{{ cuUser.firstName }} {{ cuUser.lastName }}</h6>
              </div>
              <div class="sp-content">
                <div class="sp-info note">{{ timeAgo(post.updatedAt) }}</div>
                <p class="sp-paragraph mb-0">{{ post.content }}</p>
              </div>
              <hr>
              <div class="flex-b">
                <div *ngIf="!isLiked" (click)="like(post.postId)">
                  <i class="bi bi-heart" style="color: red; margin-right: 10px"></i>
                </div>
                <div *ngIf="isLiked" (click)="unlike(post.postId)">
                  {{ post.likeCount }}
                  <i class="bi bi-heart-fill" style="color: red; margin-right: 10px"></i>
                </div>
                <div>
                  {{ post.commentCount }}
                  <i class="bi bi-chat-dots" (click)="openPopup(post)" style="cursor: pointer"></i>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
